.myText{
    font-size: 96px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
   
.Gradian{
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #f113f9;
    background-image: linear-gradient(45deg, #02275c 25%, #F9131E 50%, #B00EEB 75%, #02275c 100%);
    background-size: 200% 100%;
    


}
